.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 60px;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.88);
}

.header-layout {
  display: flex;
  height: 60px;
  margin: 0 auto;
  max-width: 1400px;
}

.header-left-nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header-logo {
  display: flex;
  width: 12.142%;
  max-width: 170px;
  min-width: 152px;
}
.header-logo a {
  display: flex;
  width: 112px;
  height: 32px;
}
.header-logo a img {
  width: 112px;
  height: 32px;
  object-fit: cover;
  overflow: hidden;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left li {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.0096em;
  margin-right: 40px;
  -webkit-font-smoothing: antialiased;
}
.employ {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.employ a {
  display: flex;
  align-items: center;
}
.employ a img {
  display: flex;
  margin: 0 4px 0 0;
  align-items: center;
}
.employ span {
  display: flex;
}
.career {
}
.social {
}
.resume {
}
.freelancer {
}
.more-menu {
  cursor: pointer;
}

.header-right-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  border-radius: 50%;
}
.search:hover {
  background-color: rgba(23, 23, 25, 0.03);
}
.search a {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.search a img {
  width: 24px;
  height: 24px;
}

.account {
  width: 100%;
  height: 100%;
}
.account button {
  height: 32px;
  padding: 0 14px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: rgb(0, 102, 255);
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.0194em;
  white-space: nowrap;
  min-width: 48px;
  margin-left: 12px;
  margin-right: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.account button:hover {
  background-color: rgba(23, 23, 25, 0.05);
}

.biz-service {
  width: 100%;
  height: 100%;
}
.biz-service button {
  height: 32px;
  padding: 0 14px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #171719;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.0194em;
  white-space: nowrap;
  min-width: 48px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.biz-service button:hover {
  background-color: rgba(23, 23, 25, 0.05);
}
.biz-service span {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.0194em;
  font-weight: 600;
}
