.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.88);
}

.main-layout {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 36px;
  padding-bottom: 160px;
  flex-direction: column;
  gap: 64px;
  /* margin-top: 60px; */
}

.main-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -44px;
}
.notice-bt {
  display: flex;
  height: 58px;
  padding: 8px 16px;
  margin: 0 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.0096em;
  /* width: 75.714vw; */
  max-width: 1060px;
  background-color: rgba(111, 114, 123, 0.04);
  border-radius: 16px;
  align-items: center;
}
.notice-bt img {
  width: 34px;
  height: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.notice-bt b {
  color: rgb(0, 102, 255);
  font-weight: bold;
}
.notice-bt-more {
  display: block;
  color: #37383c47;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 4px;
}
